:root{
    --open-sans: "Open Sans", sans-serif;
    --nunito-sans: "Nunito", sans-serif;

    --accent-light: #FBB731;
    --accent-dark: #F37335;
    --dark: #443737;
    --light: #ffffff;
    --light-rgb: 255, 255, 255;
    --line: #DEDEDE;

    --tr: .2s;
}

body{
    font-family: var(--open-sans);
}

a{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1182px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/* Header */

.header{
    border-bottom: 1px solid var(--line);
}

.header-wrapper{
    display: flex;
    align-items: center;
    gap:56px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.burger-menu{
    display:none;
    width: 34px;
    height: 22px;
    background-image: url(../images/burger-menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
}

.nav{
    flex-grow: 1;
    display: flex;
    gap:47px;
    margin-left: min(10vw, 140px);
}

.logo{
    display:block;
    width: 176px;
    height: 56px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-link{
    color:var(--dark);
    font-weight: 600;
    font-size: 20px;
}

.nav-link::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 1.5px;
    transition: var(--tr);
}
.nav-link:hover::after{
    background-color: var(--accent-light);
}

.cart{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--dark);
    font-weight: 700;
    font-size: 15px;
    position: relative;
}
.cart::before{
    content: '';
    display: block;
    width: 30px;
    height: 26px;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-size: contain;

}

.cart-count{
    width: 17px;
    height: 17px;
    background-color: var(--accent-dark);
    color: var(--light);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    left: 17px;
    bottom: 0;
}

.button-up{
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: var(--dark);
    text-align: center;
    font-family: var(--nunito-sans);
    font-size: 14px;
    font-weight: 700;
    line-height: 129%;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-light);
    padding: 5px 10px;
    transition: var(--tr); 
}

.button-up:hover{
    background-color: var(--accent-dark);  
}

.button-up.hidden{
    opacity:0;
}

.button-up.visible{
    opacity:1;
}

/* Hero */

.hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 142px;
    padding-bottom: 142px;
}

.hero-contact{
    background-image: url(../images/hero-contacts.jpg);
}

.breadcrumps{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 16px;
    padding-left: 0;
    color: rgba(var(--light-rgb), .5);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.breadcrumps-link{
    color: rgba(var(--light-rgb), .5);
    transition: var(--tr);
}

.breadcrumps-item{
    position: relative;
}

.breadcrumps-item:not(:last-child)::after{
    content: '/';
    position: absolute;
    right:-12px;
}

.breadcrumps-link:hover{
    color: var(--accent-light);
}

.hero-title{
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 79px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 18px;
    margin-top: 19px;
}

.hero-description{
    max-width: 320px;
    margin: 0 auto;
    color:rgba(var(--light-rgb), .8);
    font-size: 15px;
    line-height: 160%;
}

/* Banner */

.banner{
    margin-top: 140px;
}

.banner-wrapper{
    background-image: url(../images/banner-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px;
}

.banner-title span{
    display: block;
    width: 100%;
    max-width: 90px;
    border: 1px solid var(--accent-dark);
    border-radius: 14px;
    padding: 5px 5px;
    text-align: center;
    background-color: var(--accent-dark);
    color: var(--light);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 128%;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.banner-title{
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 60px;
    font-weight: 900;
    line-height: 126%;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0;
}

.banner-description{
    display: block;
    width: 100%;
    max-width: 353px;
    color: rgba(var(--light-rgb), .8);
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 15px;
}

.banner-btn{
    display: block;
    max-width: 170px;
    color: var(--dark);
    text-align: center;
    font-family: var(--nunito-sans);
    font-size: 14px;
    font-weight: 700;
    line-height: 129%;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-light);
    padding: 20px 0;
    transition: var(--tr);
}

.banner-btn:hover{
    background-color: var(--accent-dark);  
}

/* Menu */

.menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 34px;
}

.menu-title{
    margin-top: 0;
    margin-bottom: 0;
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 44px;
    font-weight: 700;
    line-height: 127%;
    text-transform: uppercase;
}

.menu-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px 20px;
}

.menu-thumb{
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.menu-thumb img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top:50%;
    transform:translate(-50%, -50%);
    object-fit: cover;
}

.menu-name{
    margin: 0 auto 5px;
    max-width: 281px;
    color: var(--dark);
    text-align: center;
    font-family: var(--nunito-sans);
    font-size: 30px;
    font-weight: 600;
    line-height: 127%;
}

.menu-select{
    appearance: none;
    color: var(--dark);
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    flex-basis: 279px;
    background-image: url(../images/arrow.svg);
    background-size: 14px 10px;
    background-repeat: no-repeat;
    background-position: 89% center;
    border-radius: 22px;
    border: 1px solid var(--line);
    padding: 8px 30px;
}

.menu-price{
    margin: 0 auto 20px;
    max-width: 174px;
    color: rgba(68, 55, 55, 0.50);
    text-align: center;
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
}

.menu-item{
    text-align: center;
}

.menu-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 32px 8px 32px;
    background: var(--accent-light);
    border: none;
    color: #443737;
    font-family: var(--nunito-sans);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: var(--tr);
}

.menu-btn::before{
    content: url(../images/menu/menu-cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.menu-btn:hover{
    background: var(--accent-dark);
}

/* Footer */

footer {
    margin-top: 140px;
    background-color: #1E2F40;
    padding-top: 110px;
    padding-bottom: 120px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    gap:15px;
}

.footer-logo{
    width: 63px;
    height: 56px;
    background-image: url(../images/logo-light-min.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 6px;

}

.footer-title{
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 800;
    line-height: 190%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 12px;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    gap: 9px;

}

.footer-nav > a{
    color: rgba(var(--light-rgb), 0.90);
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    transition: var(--tr);
}

.footer-nav > a:hover{
    color: var(--accent-light);
}

.footer-list{
    list-style-type: none;
    padding-left: 0;
    margin:0;
    color: var(--light);
    font-size: 15px;
    font-weight: 700;
    line-height: 160%;
}

.footer-list-item:not(:last-child){
    margin-bottom: 12px;
}

.footer-list li span{
    display: block;
    color: rgba(var(--light-rgb), 0.90);
    font-weight: 400;
}

.footer-tel{
    display: block;
    color: var(--accent-light);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 800;
    line-height: 190%;
    text-transform: uppercase;
    margin-top: 12px;
    transition: var(--tr);
}

.footer-tel._mobile{
    display: none;
}

.footer-tel:hover{
    color: rgba(var(--light-rgb), 0.90);
}

/* Contacts */

.contact-main {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1057px;
    margin: 140px auto 60px;
}

.contact-map {
    flex-basis: 680px;
}

.contact-adress {
    flex-basis: calc(100% - 680px - 20px);
    list-style-type: none;
    padding-left: 0;
}

.contact-adress > li:not(:last-child) {
    margin-bottom: 26px;
}

.contact-adress > li > span {
    display: block;
    font-size: 15px;
    line-height: 160%;
}

.contact-adress > li > span:first-child {
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 190%;
    text-transform: uppercase;
    margin-left: 3px;
    margin-bottom: 4px;
}

.contact-adress > li > span:last-child {
    font-weight: 700;
    margin-top: 10px;
}

.contact-additionally {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1057px;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
}

.contact-additionally > li {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-additionally > li::before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-additionally > li:nth-child(1):before {
    background-image: url(../images/contact/01.svg);
}
.contact-additionally > li:nth-child(2):before {
    background-image: url(../images/contact/02.svg);
}
.contact-additionally > li:nth-child(3):before {
    background-image: url(../images/contact/03.svg);
}

.contact-info,
.contact-tel {
    display: block;
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 5px;
}

.contact-tel {
    transition: var(--tr);
}

.contact-tel:hover {
    color: var(--accent-light);
}
.nav._modal{
    display:none;
}
.modal-close{
    display: none;
}

/* Media */

@media (max-width: 1080px){
    .header-wrapper{
        gap: 40px;
    }
    .nav{
        margin-left: 0;
        gap: min(3vw, 30px);
    }
    .banner-wrapper {
        padding: 100px 40px;
        background-position: center left;
    }
    .contact-main {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 60px auto 60px;
    }
    .contact-map {
        width: 100%;
        flex-basis: auto;
    }
    .contact-additionally {
        flex-direction: column;
    }
    .contact-additionally > li {
        gap: 25px;
    }
}

@media (max-width: 768px){
    .logo{
        width: 150px;
        height: 47.81px;
    }
    .header-wrapper{
        gap: 45px;
    }
    .nav{
        gap: 22px;
    }
    .banner{
        margin-top: 72px;
    }
    .banner-wrapper{
        padding: 100px 40px;
    }
    .menu-header{
        margin-top: 80px;
    }
    .menu-box{
    grid-template-columns: repeat(2, 1fr);
    }
    .menu-box._additionally{
        grid-template-columns: 1fr;
    }
    .menu-item._additionally{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .menu-item._additionally .menu-thumb{
        flex-basis: calc(60% - 20px);
        margin-bottom: 0;
        height: 260px;
    }
    .menu-item._additionally .menu-info{
        flex-basis: 40%;
    }
    footer {
        padding-top: 62px;
        padding-bottom: 71px;
    }
    .footer-nav{
        margin-bottom: 20px;
    }
    .footer-item:last-child{
        display: none;
    }
    .footer-tel._mobile{
        display: block;
    }
}

@media (max-width: 730px){
    .header-wrapper {
        gap: 21px;
        padding-top: 19px;
        padding-bottom: 19px;
    }
    .nav{
        display: none;
    }
    .nav._modal{
        display:flex;
        flex-direction: column;
    }
    .nav-link::after {
        display: none;
    }
    .burger-menu{
        display:block;
    }
    .logo {
        flex-grow: 1;
        width: 116px;
        height: 37px;
    }
    .modal{
        width: 100%;
        max-width: 500px;
        background-color: #FFF8DC;
        padding: 40px 15px;
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        margin: 0 auto;
        box-sizing: border-box;
        text-align: center;
        transition: var(--tr);
    }
    .modal-close{
        display: block;
        width: 22px;
        height: 22px;
        background-image: url(../images/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        position:absolute;
        top:20px;
        right:20px;
    }
    .banner{
        margin-top: 33px;
    }
    .hero-title {
        font-size: 38px;
    }
    .hero-description {
        font-size: 12px;
    }
    .hero {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    .banner-wrapper {
        padding: 35px 15px;
    }
    .banner-btn {
        max-width: 196px;
    }
    .banner-description {
        max-width: 222px;
    }
    .menu-header {
        margin-top: 58px;
        margin-bottom: 30px;
    }
    .menu-title {
        font-size: 27px;
    }
    .menu-select {
        font-size: 12px;
        flex-basis: 136px;
        width: 136px;
        background-position: 93% center;
        padding: 13px 15px;
    }
    .menu-box {
        gap: 24px 20px;
    }
    .menu-name {
        font-size: 15px;
        margin-bottom: 8px;
    }
    .menu-price {
        font-size: 12px;
        margin-bottom: 14px;
    }
    .menu-thumb {
        margin-bottom: 10px;
        height: 50vw;
    }
    .menu-item._additionally .menu-thumb {
        height: 30vw;
    }
    .menu-btn {
        padding: 11px 22px;
    }
    .footer{
        margin-top:80px;
    }
    .footer-wrapper {
        flex-direction: column;
        gap: 35px;
        position: relative;
    }
    .footer-logo {
        margin-bottom: 9px;
    }
    .footer-nav {
        margin-bottom: 0;
    }
    .footer-tel._mobile {
        position: absolute;
        top: -13px;
        right: 0;
    }
    .footer-tel._mobile + .footer-tel._mobile{
        top: 24px;
    }
    .footer-title {
        font-size: 18px;
    }
}

@media (max-width:450px){
    .menu-item._additionally .menu-thumb {
        height: 38vw;
        flex-basis: calc(100% - 130px - 20px);
    }
    .menu-item._additionally .menu-info {
        flex-basis: 130px;
    }
}
